*.pyc
*.swo
*.swp
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
build/
dist/
pip-wheel-metadata/
.ipynb_checkpoints/
.*.ipynb

openbis_app/ai_agent/chroma_db/
openbis_app/structures/
openbis_app/data/
openbis_app/images/
openbis_app/logs/