*.pyc
*.swo
*.swp
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
build/
dist/
pip-wheel-metadata/
.ipynb_checkpoints/
.*.ipynb
/logs/

ai_agent/chroma_db/
structures/
data/
images/
logs/
chroma_db/
