body, h1, p, .figure p {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin-top: -17px;
    border-color: lightgray;
}

#collection-project-container {
    display: flex;
    align-items: center;
}

#collection-project-container p {
    margin-right: 32px;
}

#collection-name-container {
    display: flex;
    align-items: center;
}

#collection-name-container input{
    margin-left: 48px;
}

#collection-description-container input {
    margin-left: 48px;
}

#collection-description-container {
    display: flex;
    align-items: center;
}

#collection-description-container input {
    margin-left: 10px;
    height: 200px;
    width: 400px;
}

#collection-type-container {
    display: flex;
    align-items: center;
}

#collection-type-container p {
    margin-right: 14px;
}