<!doctype html>
<html>
    <head>
        <title>New Space</title>
        <link rel="stylesheet" type="text/css" href="static/css/style_new_space.css">
    </head>
    <body>
        <h1> New Space </h1>
        <hr>
        <div id='space-name-container'>
            <p>Space Name</p>
            <input type="text" id="space-name" name="space-name" placeholder="Introduce a name">
        </div>
        <div id='space-description-container' style="margin-bottom:10px">
            <p>Space Description</p>
            <input type="text" id="space-description" name="space-description" placeholder="Introduce a description">
        </div>
        <div>
            <button type="button" id="save-new-space"> Save Project </button>
            <button type="button" id="return-menu"> Return to Main Menu </button>
        </div>
        <script src="static/js/create_new_space.js"></script>
    </body>
</html>