<!doctype html>
<html>
    <head>
        <title>New Collection</title>
        <link rel="stylesheet" type="text/css" href="static/css/style_new_collection.css">
    </head>
    <body>
        <h1> New Collection </h1>
        <hr>
        <div id='collection-project-container'>
            <p>Collection Project</p>
            <select id="project-selector" style="margin-left:10px">
                {% for item in items %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </div>
        <div id='collection-name-container'>
            <p>Collection Name</p>
            <input type="text" id="collection-name" name="collection-name" placeholder="Introduce a name">
        </div>
        <div id='collection-description-container' style="margin-bottom:10px">
            <p>Collection Description</p>
            <input type="text" id="collection-description" name="collection-description" placeholder="Introduce a description">
        </div>
        <div>
            <button type="button" id="save-new-collection"> Save Collection </button>
            <button type="button" id="return-menu"> Return to Main Menu </button>
        </div>
        <div id="editor"></div>
        <script src="static/js/create_new_collection.js"></script>
    </body>
</html>